# This file is a template, and might need editing before it works on your project.
# Full project: https://gitlab.com/pages/plain-html
pages:
  stage: deploy
  script:
  - npm i && npm run build
  - mkdir .dist
  - cp -r * .dist
  - mv .dist dist
  artifacts:
    paths:
    - dist
  only:
  - master
