._29ns-Highlight-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: transparent;
  box-sizing: content-box;
}

._4wpt-Points-tooltipPoint {
  display: inline-block;
  padding-right: 4px;
  width: 8px;
  box-sizing: content-box;
}
.p1nv-Points-tooltipPointActive {
  position: relative;
  top: 1px;
  width: 10px !important;
  box-sizing: content-box;
}
._4wpt-Points-tooltipPoint:before {
  content: '\25CF';
  font-size: 16px;
  color: #d7d7d7;
}
.p1nv-Points-tooltipPointActive:before {
  color: #4a90e2;
  font-size: 20px;
}
._2rpe-Points-tooltipSelector {
  display: inline-block;
  position: relative;
  top: 6px;
}

._46c6-TourButton-tourButton {
  border: 0;
  color: #404040;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  margin: 0;
  outline: 0;
  overflow: visible;
  position: relative;
  width: 100%;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 0;
}
._46c6-TourButton-tourButton::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.r2fq-TourButton-greyTourButton {
  background-image: linear-gradient(-180deg, #fff, #ebebeb);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.r2fq-TourButton-greyTourButton:hover {
  background-image: linear-gradient(-180deg, #f2f2f2, #dfdfdf);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.r2fq-TourButton-greyTourButton:active {
  background: #e1e1e1;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.rt-ie8 .r2fq-TourButton-greyTourButton,
.rt-ie9 .r2fq-TourButton-greyTourButton,
.rt-ie8 .r2fq-TourButton-greyTourButton:active,
.rt-ie9 .r2fq-TourButton-greyTourButton:active,
.rt-ie8 .r2fq-TourButton-greyTourButton:hover,
.rt-ie9 .r2fq-TourButton-greyTourButton:hover,
.rt-ie8 .r2fq-TourButton-greyTourButton,
.rt-ie9 .r2fq-TourButton-greyTourButton,
.rt-ie8 .r2fq-TourButton-greyTourButton:active,
.rt-ie9 .r2fq-TourButton-greyTourButton:active,
.rt-ie8 .r2fq-TourButton-greyTourButton:hover,
.rt-ie9 .r2fq-TourButton-greyTourButton:hover {
  background: #f9f9f9;
  box-shadow: none;
  outline: #b2b2b2 solid 1px;
}
._3m76-TourButton-blueTourButton {
  background-image: linear-gradient(-180deg, #2899ea, #167ac1);
  box-shadow: 0 0 0 1px rgba(14, 81, 129, 0.7), 0 1px 0 0 rgba(7, 37, 80, 0.5);
  color: #fff;
}
._3m76-TourButton-blueTourButton:hover {
  background-image: linear-gradient(#0087d5, #167ac1);
  box-shadow: 0 0 0 1px rgba(5, 60, 99, 0.7), 0 1px 0 0 rgba(7, 37, 80, 0.3);
}
._3m76-TourButton-blueTourButton:active {
  background: #0079c3;
  box-shadow: 0 0 0 1px rgba(10, 63, 99, 0.75), 0 -1px 0 0 rgba(8, 45, 96, 0.5), inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.rt-ie8 ._3m76-TourButton-blueTourButton,
.rt-ie9 ._3m76-TourButton-blueTourButton,
.rt-ie8 ._3m76-TourButton-blueTourButton:active,
.rt-ie9 ._3m76-TourButton-blueTourButton:active,
.rt-ie8 ._3m76-TourButton-blueTourButton:hover,
.rt-ie9 ._3m76-TourButton-blueTourButton:hover,
.rt-ie8 ._3m76-TourButton-blueTourButton,
.rt-ie9 ._3m76-TourButton-blueTourButton,
.rt-ie8 ._3m76-TourButton-blueTourButton:active,
.rt-ie9 ._3m76-TourButton-blueTourButton:active,
.rt-ie8 ._3m76-TourButton-blueTourButton:hover,
.rt-ie9 ._3m76-TourButton-blueTourButton:hover {
  background: #1e8dd4;
  box-shadow: none;
  outline: #1e8dd4 solid 1px;
}
._2fbw-TourButton-tourButtonArrow::after {
  content: '';
  position: absolute;
  z-index: -1;
  transform: scaleX(0.6) rotate(45deg);
  height: 29px;
  width: 29px;
  border: 0;
}
.rt-ie8 ._2fbw-TourButton-tourButtonArrow::after,
.rt-ie9 ._2fbw-TourButton-tourButtonArrow::after {
  display: none;
}
._33gd-TourButton-rightTourButtonArrow {
  padding-right: 14px;
}
.za1v-TourButton-leftTourButtonArrow {
  padding-left: 14px;
}
.rt-ie8 .za1v-TourButton-leftTourButtonArrow,
.rt-ie9 .za1v-TourButton-leftTourButtonArrow {
  padding-left: 20px !important;
}
.rt-ie8 ._33gd-TourButton-rightTourButtonArrow,
.rt-ie9 ._33gd-TourButton-rightTourButtonArrow {
  padding-right: 20px !important;
}
.za1v-TourButton-leftTourButtonArrow::after {
  left: -15px;
  top: 6px;
}
._33gd-TourButton-rightTourButtonArrow::after {
  right: -15px;
  top: 6px;
}
.r2fq-TourButton-greyTourButton.za1v-TourButton-leftTourButtonArrow::after {
  background: linear-gradient(135deg, #fff, #ebebeb);
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
.r2fq-TourButton-greyTourButton.za1v-TourButton-leftTourButtonArrow:hover::after {
  background: linear-gradient(135deg, #f2f2f2, #dfdfdf);
}
.r2fq-TourButton-greyTourButton.za1v-TourButton-leftTourButtonArrow:active::after {
  background: #e1e1e1;
}
._3m76-TourButton-blueTourButton._33gd-TourButton-rightTourButtonArrow::after {
  background: linear-gradient(135deg, #2899ea, #167ac1);
  border-top: 1px solid #5785a6;
  border-right: 1px solid #5785a6;
}
._3m76-TourButton-blueTourButton._33gd-TourButton-rightTourButtonArrow:hover::after {
  background: linear-gradient(135deg, #0087d5, #167ac1);
  border-top: 1px solid #5785a6;
  border-right: 1px solid #5785a6;
}
._3m76-TourButton-blueTourButton._33gd-TourButton-rightTourButtonArrow:active::after {
  background: #0079c3;
}

._326q-Footer-footer {
  position: relative;
  text-align: center;
  min-height: 42px;
  vertical-align: middle;
}
._2cvf-Footer-footerLeftPart {
  display: inline-block;
  position: absolute;
  left: 0;
}
.gzff-Footer-footerCenterPart {
  display: inline-block;
}
._2nty-Footer-footerRightPart {
  display: inline-block;
  position: absolute;
  right: 0;
}
.vpup-Footer-footerImage {
  margin-top: 20px;
  vertical-align: bottom;
}

._49y3-Tooltip-tooltip {
  box-sizing: border-box;
  position: relative;
  color: #333;
}
._49y3-Tooltip-tooltip ._3z5m-Tooltip-closeBtn {
  position: absolute;
  top: 26px;
  right: 35px;
  cursor: pointer;
  font-size: 31px !important;
}
._49y3-Tooltip-tooltip ._3z5m-Tooltip-closeBtn:before {
  content: '\D7';
  cursor: pointer;
  color: #555;
}
._2w2n-Tooltip-container {
  padding: 30px 35px 45px 40px;
}
._2w2n-Tooltip-container p {
  margin-top: 10px;
  margin-bottom: 7px;
}
.ennp-Tooltip-header {
  font-size: 26px;
  margin-bottom: 15px;
  margin-right: 20px;
}
._2kvt-Tooltip-body {
  min-height: 18px;
  font-size: 18px;
}
._2kvt-Tooltip-body a {
  text-decoration: none;
  color: #3073c5;
}
._2ydc-Tooltip-footer {
  margin-top: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 14px 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.42;
  overflow: hidden;
}
._2ptr-app-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
}
._3ha2-app-demo {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 22px;
  line-height: 70px;
  height: 70px;
  width: 120px;
  text-align: center;
}
._2x64-app-demo1 {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 22px;
  line-height: 70px;
  height: 70px;
  width: 120px;
  text-align: center;
  left: 0;
  top: 0;
}
.ezfv-app-demo2 {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 22px;
  line-height: 70px;
  height: 70px;
  width: 120px;
  text-align: center;
  right: -200px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}
.ezfv-app-demo2._2rdg-app-shown {
  right: 0;
}
._3hdm-app-demo3 {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 22px;
  line-height: 70px;
  height: 70px;
  width: 120px;
  text-align: center;
  left: -200px;
  bottom: 0;
  transition: 0.5s;
}
._3hdm-app-demo3._2rdg-app-shown {
  left: 0;
}

