.tutorial-tooltip-container {
  box-sizing: border-box;
  width: 500px;
  padding: 30px 35px 45px 38px;
  position: relative;
  color: #333;
}

.tutorial-tooltip-container p {
  margin-top: 10px;
  margin-bottom: 7px;
}

.tutorial-tooltip-close:before {
  content: "×";
  cursor: pointer;
  color: #555555;
}

.tutorial-tooltip-close {
  position: absolute;
  top: 27px;
  right: 30px;
  cursor: pointer;
  font-size: 31px !important;
}

.tutorial-tooltip-header {
  font-size: 26px;
  margin-bottom: 15px;
  margin-right: 20px;
}